@media only screen and (min-width: 413px) {
 .card {
  height: 509px;
  width: 920px;
  justify-content: space-between;
 }

 .desktop-img {
  margin-left: -103px;
}

 .mobile-img {
  display: none;
 }

 .container {
  height: 509px;
  margin-right: 95px;
 }

 .title {
  margin-top: 65px;
  margin-bottom: 18px;
 }

 .accordion {
  width: 350px;
  height: 52px;
  padding: 1px 16px 1px 0;
  font-size: 14px;
 }

 .active {
  height: 45px;
 }

 .divider {
  width: 350px;
 }
}