@media only screen and (max-width: 412px) {
  .card {
    height: 535px;
    width: 327px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    margin-top: -108px;
  }

  .container {
    height: 355px;
  }

  .title {
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
  }

  .accordion {
    width: 279px;
    height: 52px;
    margin: 0 auto;
    font-size: 13px;
    padding: 1px 0px;
  }

  .active {
    height: 45px;
  }

  .divider {
    width: 279px;
    margin: 0 auto;
  }

  .panel {
    width: 279px;
  }
}