@media only screen and (max-width: 412px) {
  .card {
    height: 535px;
    width: 327px;
  }

  .title {
    text-align: center;
  }

  .accordion {
    width: 279px;
    height: 52px;
  }

  .divider {
    width: 279px 
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    margin-top: -108px;
  }

  .card {
    flex-direction: column;
  }
}