html {
  --bg: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  --div: hsl(240, 5%, 91%);
  --arr: hsl(14, 88%, 65%);
  
  --b1: hsl(238, 29%, 16%);
  --b2: hsl(237, 12%, 33%);
  --b3: hsl(270, 6%, 50%);
  

  font-family: 'Kumbh Sans', sans-serif;
}

body {
  height: 100vh;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 509px;
  width: 920px;
  border-radius: 23px;
  box-shadow: 0 50px 50px -20px rgb(53, 18, 122, 0.5);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  margin-left: -103px;
}

.container {
  height: 509px;
  margin-right: 95px;
}

.title {
  font-size: 32px;
  margin-top: 65px;
  margin-bottom: 18px;
  font-weight: bold;
  color: var(--b1);
}

.accordion {
  width: 350px;
  height: 52px;
  font-family: 'Kumbh Sans';
  font-size: 14px;
  text-align: left;
  color: var(--b2);
  background-color: white;
  transition: color 0.2s, height 0.2s ease-out;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion:hover {
  color: var(--arr);
}

.active {
  color: var(--b1);
  font-weight: bold;
  height: 45px;
}

.active:hover {
  color: var(--b1);
}

.divider {
  width: 350px;
  height: 1px;
  background-color: var(--div);
}

.panel {
  width: 319px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.para {
  font-size: 12px;
  margin-top: 0;
  color: var(--b3);
}

.arrow {
  transition: rotate 0.15s;
}

.up {
  rotate: 180deg;
}